{
    "plugins": ["prettier-plugin-django"],
    "tabWidth": 4,
    "printWidth": 120,
    "overrides": [
        {
            "files": ["*.html"],
            "options": {
                "parser": "melody"
            }
        }
    ]
}
