{% extends 'base.html' %}

{% block content %}
    <div id="homepageContent">
        <div class="jumbotron">
            <div class="container">
                <h1 class="display-4">Lablog: Your Digital logbook</h1>
                <p class="lead">A simple computer Laboratory Digital logbook.</p>
            </div>
        </div>
        <div class="container">
            <h1 class="display-4">Web Description</h1>
            <p class="lead">Lablog is a digital logbook designed for computer
                laboratories. It simplifies the process of recording and
                managing student information during lab sessions. With Lablog,
                you can easily track student attendance, collect relevant
                details, and maintain a comprehensive record of activities.</p>
        </div>
    </div>
{% endblock %}
